/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.95em;
	color: #8a8683;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #d5d729;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:hover {
	color: #999;
	text-decoration: none;
}
a:visited {
	color: #d5d729;
	text-decoration: none;
}
p {
	padding-bottom:10px;
}





/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#ffffff;
	z-index:100;
	min-height: 90px;
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	color: #666;
	float: left;
	padding:0 0 0 20px;
}
.navigation li:hover{
	cursor:pointer;
	color: #666;
}

.navigation .active{
	cursor:pointer;
	color: #9fa316;
	font-weight:normal;
}


/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}



/* Slide 1 */ 

#slide1{
	background-image: url('http://www.fridaysgarden.com/image/1920/1440/0/8/par-option-2.jpg');
	background-color:#ffffff;
}
#slide1 h1 {
	font-size: 2.5em;
	color:#333;
	font-weight: normal;
}
#slide1 h2 {
	font-size: 1.2em;
	color: #333;
	font-weight: normal;
	text-transform: none;
}
#main span{
	font-weight:bold;
}
.btn {
	margin:20px 0;
	padding: 15px 30px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	background-color: #f68f67;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}
.btn:link {
	color: #ffffff;
}
.btn:hover {
	background-color: #df6c3f;
	color: #ffffff;
}
.btn:active {
	background-color: #bde2df;
	color: #ffffff;
}
.btn:visited {
	color: #ffffff;
}




/* Slide 2 */ 

#slide2{
	background-image:url('../images/footprints.png');
	background-color:#f68f67;
	color:#ffffff;
}


#what {
	text-align:center;
}
#what span{
	font-size: 1.5em;
}




/* Slide 3 */ 

#slide3{
	background-color:#ffffff;
}

#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}




/* Slide 4 */

#slide4{
	background-image:url('../images/sunglasses.png');
	background-color:#8a8683;
	color:#ffffff;
}






/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 30%;
	text-align: left;
}

#nav {
	width:60%;
	text-align:right;
	margin:30px 0 0 30px;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	padding:0 15px 0 0 ;
}

.navigation li.download{
	display:none;
}

#main {
	width:100%;
	text-align:left;
	margin-top: 50px;
}

#what {
	width:100%;
	text-align:center;
}


.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#slide1 h1 {
	line-height: 0em;
}
#slide1 h2 {
	line-height: 0em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 0em;
}
#slide3 h2 {
	line-height: 1.2em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#slide1 h1 {
	font-size: 1.2em;
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

.head1 {
	font: 1.5em Arial, Sans-Serif; normal;
	padding: 5px;
	line-height: 1.5em; 
	text-transform:uppercase; 
	color: #000; 
	background: #fff;
	}


#decorative {
	display:none;
}


}


.dark { color:#fff; background: #9fa316; }
.bright {  color:#222; background: #fff; opacity:0.90; filter:alpha(opacity=90); /* For IE8 and earlier */}

.dark h1    { color: #d5d729; font-family: arial; font-weight: normal; font-size: 2.0em; text-transform: uppercase; }
.bright h1 { color: #9fa316; font-family: arial; font-weight: normal; font-size: 2.0em; text-transform: uppercase;}

.dark h2    { color: #fff; font-family: arial; font-weight: normal; font-size: 1.0em; text-transform: uppercase; }
.bright h2 { color: #333; font-family: arial; font-weight: normal; font-size: 1.0em; text-transform: uppercase;}



.head1 {
	font: 60px Arial, Sans-Serif; normal;
	padding: 5px;
	line-height: 1.5em; 
	text-transform:uppercase; 
	color: #000; 
	background: #fff;
	}

.head2 {
	color: #fff; background: #9fa316; line-height: 2em; font-size: 16px; padding: 0 5px 5px 0;
	}

.box{
 -moz-transform:rotate(1deg); /* Firefox 3.6 Firefox 4 */
-webkit-transform:rotate(1deg); /* Safari */
-o-transform:rotate(1deg); /* Opera */
-ms-transform:rotate(1deg); /* IE9 */
transform:rotate(1deg); /* W3C */
background: url(/skin/images/bottom_shadow_18.png) no-repeat center bottom; padding-bottom: 18px; margin-top: 70px; width: 370px;
}
